body{
    background-color: #e5e5e5;
}



#main{
    font-family: 'Dancing Script', cursive;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color:#fdfffc;
}
@media(max-width:460px){
    #main{
        margin: 0;
    }
}

img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto
    
}

 h1 {
    font-size: 40px;
    margin-bottom: 0px;
}
#title{
    text-align: center;
}
p{
    text-align: center;
}
#img-caption{
    text-align: center;
}
#headline{
    text-align: center;
}

@media(max-width: 460px){
    h1{
        font-size: 35px;
        line-height: 1.2;
    }
}
ul{
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.4;
}
li{
    margin: 16px 0;
}
blockquote{
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.4;
}
#quote{
    margin: 80px;
}

h3{
    text-align: center;
}